<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Ticketnitsa</title>
</head>
<body>
<div class="container">
    <h1>Ticketnitsa project</h1>
    <a href="/project/all">
        <button type="button" class="btn btn-primary">Show all projects</button>
    </a>
    <a href="/ticket/create">
        <button type="button" class="btn btn-primary">New ticket</button>
    </a>
    <a href="/project/create">
        <button type="button" class="btn btn-primary">New project</button>
    </a>
</div>
</body>
</html>