<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Ticketnitsa</title>
</head>
<body>
<div class="container">
    <h1>All tickets in project</h1>
    <ul class="list-group">
        <li class="list-group-item" th:each="ticket : ${tickets}">
            <h2 th:text="${ticket.project} + '-' + ${ticket.id}">Ticket name</h2>
            <p th:text="${ticket.name}"></p>
            <small class="text-muted" th:text="${ticket.description}"></small>
        </li>
    </ul>
</div>
</body>
</html>