<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Ticketnitsa</title>
</head>
<body>
<div class="container">
    <a href="/"><h1>Ticketnitsa</h1></a>
    <h2 th:text="'All tickets in project ' + ${projectId}">All tickets in project</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="ticket : ${tickets}">
            <h2 th:text="${ticket.project} + '-' + ${ticket.id}">Ticket name</h2>
            <p th:text="${ticket.name}"></p>
            <small class="text-muted" th:text="${ticket.description}"></small>
        </li>
    </ul>
    <a href="/ticket/create">
        <button type="button" class="btn btn-primary btn-lg btn-block">New ticket</button>
    </a>
</div>
</body>
</html>